.hero-img {
    object-position: center center;
    object-fit: cover;
}

@media (min-width: 768px) {
    .hero-img {
        object-position: calc(50% + 140px) center;
        transform: scale(1.2);
        transform-origin: center center;
    }
}

@media (min-width: 1280px) {
    .hero-img {
        object-position: calc(50% + 240px) center;
        transform: scale(1.2);
        transform-origin: center center;
    }
}