@keyframes scroll-vertical {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.animate-scroll-vertical {
    display: flex;
    flex-direction: column;
    animation: scroll-vertical 60s linear infinite;
    animation-play-state: running;
    /* Задаем стан па змаўчанні */
}

/* Выкарыстоўваем двайны клас для павелічэння прыярытэту без !important */
.animate-scroll-vertical.is-paused {
    animation-play-state: paused;
}

.mask-fade {
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}