<section class="hero-bg relative flex items-start overflow-hidden">
    <div class="container-custom relative z-10 w-full">
        <div>
            <h1 class="text-white text-5xl md:text-7xl font-black uppercase leading-[0.9] tracking-tighter">
                <span data-i18n="hero.title_part1">Ваша</span> <br>
                <span class="text-red-600" data-i18n="hero.title_part2">надзейная</span> <br>
                <span data-i18n="hero.title_part3">абарона</span>
            </h1>
            <p data-i18n="hero.description"
                class="text-gray-400 text-lg md:text-xl max-w-xl leading-relaxed font-medium">
                Дапамагаем тым, хто бароніць наш спакой. Фонд Bulwark — гэта празрыстасць, шчырасць і эфектыўная
                падтрымка.
            </p>
            <div class="flex flex-wrap gap-4">
                <a href="#help" data-i18n="hero.btn_get_help"
                    class="bg-red-600 text-white px-10 py-4 uppercase font-black tracking-widest text-sm hover:bg-white hover:text-black transition-all">
                    Атрымаць дапамогу
                </a>
                <a href="#donate" data-i18n="nav.support"
                    class="bg-red-600 text-white px-10 py-4 uppercase font-black tracking-widest text-sm hover:bg-white hover:text-black transition-all cursor-pointer">
                    Падтрымаць
                </a>
            </div>
        </div>
    </div>
</section>