<section
    class="hero-bg  relative flex flex-col items-start overflow-hidden bg-black mx-auto w-full max-w-[350px] md:max-w-[768px] xl:max-w-[1280px] py-6 md:py-12"
    id="hero">
    <div class="container-custom relative z-10 w-full">
        <div class="flex flex-col">
            <h1
                class="text-white text-5xl md:text-[48px] xl:text-[80px] font-black uppercase leading-[1] mb-[30px] mt-[30px] md:my-6 xl:mt-0 xl:mb-6 max-w-full md:max-w-[450px] xl:max-w-[700px] tracking-tighter">
                <span data-i18n="hero.title_part1">Ваша</span> <br>
                <span class="text-red-600" data-i18n="hero.title_part2">надзейная</span> <br>
                <span data-i18n="hero.title_part3">абарона</span>
            </h1>

            <p data-i18n="hero.description"
                class="text-gray-400 text-lg md:text-[16px] xl:text-[20px] max-w-full md:max-w-[330px] xl:max-w-[400px] leading-relaxed font-medium mb-6 md:mb-[30px] xl:mb-6">
                Дапамагаем тым, хто бароніць наш спакой. Фонд Bulwark — гэта празрыстасць, шчырасць і эфектыўная
                падтрымка.
            </p>

            <div class="flex flex-col md:flex-row flex-wrap gap-2 md:gap-4">
                <a href="/#volunteers" data-i18n="hero.btn_get_help"
                    class="js-nav-link bg-red-600 text-white px-6 py-3 md:px-4 md:py-2 xl:px-8 xl:py-3 uppercase font-black tracking-widest text-[12px] md:text-[13px] xl:text-[14px] hover:bg-white hover:text-black transition-all text-center w-full md:w-auto">
                    Атрымаць дапамогу
                </a>
                <a href="/#donate" data-i18n="nav.support"
                    class="js-nav-link bg-red-600 text-white px-6 py-3 md:px-4 md:py-2 xl:px-8 xl:py-3 uppercase font-black tracking-widest text-[12px] md:text-[13px] xl:text-[14px] hover:bg-white hover:text-black transition-all cursor-pointer text-center w-full md:w-auto">
                    Падтрымаць
                </a>
            </div>
        </div>
    </div>
</section>