<div id="material-modal" class="fixed inset-0 z-[110] hidden overflow-hidden">
    <div class="absolute inset-0 bg-black/95 backdrop-blur-md modal-overlay"></div>

    <div
        class="container-custom relative h-full mx-auto bg-[#0a0a0a] border-x border-white/10 flex flex-col shadow-2xl p-0">

        <header
            class="px-5 md:px-9 xl:px-[60px] py-4 border-b border-white/5 bg-[#0a0a0a] z-30 flex justify-between items-center">
            <div id="modal-meta" class="text-red-600 font-bold uppercase tracking-[0.2em] text-[9px] md:text-[10px]">
            </div>
            <button id="close-modal" class="text-white/30 hover:text-red-600 text-xl transition-all">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>

        <main id="modal-dynamic-container" class="flex-grow overflow-y-auto custom-scrollbar">
        </main>

        <footer
            class="p-4 md:px-9 xl:px-[60px] border-t border-white/5 bg-[#0a0a0a] flex justify-between items-center z-20">
            <div class="flex gap-6">
                <button id="print-material"
                    class="flex items-center gap-2 text-[10px] font-black uppercase tracking-widest text-white/30 hover:text-white transition-colors">
                    <i class="fa-solid fa-print"></i>
                    <span data-i18n="modal.print">Print</span>
                </button>
                <button id="copy-material"
                    class="flex items-center gap-2 text-[10px] font-black uppercase tracking-widest text-white/30 hover:text-white transition-colors">
                    <i class="fa-solid fa-copy"></i>
                    <span id="copy-text" data-i18n="modal.copy">Copy</span>
                </button>
            </div>
            <button id="close-modal-text"
                class="text-[10px] font-black tracking-[0.2em] text-white/20 hover:text-red-600 transition-colors uppercase italic">
                [ <span data-i18n="modal.close">Закрыць</span> ]
            </button>
        </footer>
    </div>
</div>