<div id="sidebar"
    class="fixed top-0 right-0 h-full w-62.5 bg-[#1a1a1a] z-100 shadow-2xl flex flex-col transition-transform duration-300 translate-x-full">
    <div class="pt-6 pr-6 flex justify-end">
        <button id="close-sidebar"
            class="text-white hover:text-red-600 transition-colors bg-transparent border-none p-0 cursor-pointer outline-none">
            <i class="fa-solid fa-xmark text-2xl"></i>
        </button>
    </div>

    <nav
        class="flex flex-col mt-10 space-y-6 text-white uppercase font-black tracking-widest text-[13px] text-center items-center">
        <a href="#" class="hover:text-red-600 transition-colors duration-200">Пра фонд</a>
        <a href="#" class="hover:text-red-600 transition-colors duration-200">Матэрыялы</a>
        <a href="#" class="hover:text-red-600 transition-colors duration-200">Дабраахвотнікам</a>
        <a href="#" class="hover:text-red-600 transition-colors duration-200">Партнёры</a>
        <a href="#" class="hover:text-red-600 transition-colors duration-200">Дапамога</a>
        <a href="#" class="hover:text-red-600 transition-colors duration-200">Гісторыя</a>
    </nav>

    <div class="mt-auto p-8 border-t border-white/10 text-center">
        <p class="text-gray-500 text-[10px] tracking-widest uppercase mb-4">Нашы кантакты</p>
        <a href="mailto:info@bulwark.fund"
            class="text-white hover:text-red-600 transition-colors font-bold text-sm tracking-tight">info@bulwark.fund</a>
    </div>
</div>

<div id="sidebar-overlay" class="fixed inset-0 bg-black/70 z-90 hidden opacity-0 transition-opacity duration-300"></div>