.container-custom {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* Для экранаў менш за 350px */
  padding-left: 20px;
  padding-right: 20px;
}

/* 350px - 767px: фіксаваная шырыня 350 */
@media (min-width: 350px) {
  .container-custom {
    width: 350px;
  }
}

/* 768px - 1279px: фіксаваная шырыня 768, падынгі 36 */
@media (min-width: 768px) {
  .container-custom {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

/* 1280px і больш: фіксаваная шырыня 1280, падынгі 60 */
@media (min-width: 1280px) {
  .container-custom {
    width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
  }
}