@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import "tailwindcss";
@import "./sections/sidebar.css";

@layer base {
    @import "./reset.css";
    @import "./style.css";
    @import "./grid.css";
}


