/* Падключаем шрыфт */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

@layer components {

  /* КАНТЭЙНЕР */
  .container-custom {
    @apply mx-auto px-5 w-full;
    max-width: 100vw;
  }


  @media (min-width: 350px) {
    .container-custom {
      width: 350px;
    }
  }

  @media (min-width: 768px) {
    .container-custom {
      width: 768px;
      @apply px-9;
    }

    .section-spacing {
      @apply py-[60px];
    }

    .section-title {
      @apply text-[32px];
    }
  }

  @media (min-width: 1280px) {
    .container-custom {
      width: 1280px;
      @apply px-[60px];
    }

    .section-spacing {
      @apply py-20;
    }

    .section-title {
      @apply text-[48px];
    }
  }

  /* Базавыя параметры секцый для мабілак (па змаўчанні) */
  .section-spacing {
    @apply py-10;
  }

  .section-title {
    @apply text-[22px] font-black uppercase italic leading-[1.1] text-white font-sans;
  }
}

@layer base {
  body {
    @apply bg-black font-sans text-white antialiased;
  }
}